.cartContainer {
    position: fixed;
    height: 100vh;
    width: 100%;

    background-color: #3d3c3ce5;
    //background-color: rgba(255, 0, 0, 0.4);
    //display: flex;
    display: none;
    justify-content: flex-end;
    align-items: center;
    z-index: 5;
}

.cart {
    width: 45%;
    height: 100%;
    background-color: #FEFEFE;
    opacity: 100%;

}

#liCarrito {
    color: white;
    background-color: #0AC763;
    width: 89px;
    height: 40px;
    display: flex;
    justify-content: center;
    justify-self: center;
    border-radius: 8px;
    border-left: #B8B4B4;
}

#liCarrito img{
    display: flex;
    justify-content: center;
    justify-self: center;
    width: 24px;
}

#ubication {
    display: flex;
    //grid-template-columns: 20% 80%;
    justify-content: center;
    align-items: center;
    justify-self: center;
    font-family: 'Poppins-ExtraBold', sans-serif;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    text-justify:auto;

}

#ubication h2 {
    width: auto;
    height: 24px;
    display: flex;
    justify-content: center;
    justify-self: center;
    text-align: center;
    text-justify:auto;
}

#ubication img {
    width: 30px;
    height: 24px;
}