
.grid-discount {
    background-color: white;
    display: flex;
    //flex-wrap: wrap;
    overflow: scroll;
    border-width: 1px;
    //border-style: solid;
    //border-color: black;
    margin: 2rem;
    margin-bottom: 4rem;
    border-radius: 16px;

    
}


.grid-popular {
    background-color: white;
    display: flex;
    overflow: scroll;
    //border-width: 1px;
    //border-style: solid;
    border-color: black;
    margin: 2rem;
    border-radius: 16px;

    
}

.sectionBanner {
    display: grid;
    margin-top: 4rem;
    margin-bottom: 4rem;
    grid-template-columns: 100%;
    grid-template-columns: 100%;
    width: 100%;
    height: 250px;
    // justify-content: center;
    // align-items: center;

}

.sectionBanner img{
    align-self: center;
    justify-self: center;
    width: 90%;
    height: 100%;
    grid-area: 1 / 1 / 2 / 2;
}

.sectionBanner h2 {
    align-self: center;
    justify-self: center;
    grid-area: 1 / 1 / 2 / 2;
    z-index: 1;
    font-family: 'Poppins', sans-serif;
    color: white;
    line-height: 16px;

}